| host| status | ts |
| ------------- | :-----:| -----:
{% for host in hostvars.localhost.status_report  %}
{% for hostname,status in host.items() %}
| {{ hostname }} | {{ status }} | {{ ts }} |
{% endfor %}
{% endfor %}